html {
    font-size: 14px;
}

.hidden {
    color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
}

body {
    font-size: 1.2rem !important;
}

.btn, .navbar .dropdown-menu a {
    font-size: 1rem !important;
}

.input-group input {
    height: unset !important;
}

.navbar-brand {
    font-size: 1.5rem !important;
}

.btn.btn-sm .fa {
    font-size: 1rem !important;
}

#searchBar {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}